<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp.bookaholic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bookround"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bookround"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shrine"
        android:usesCleartextTraffic="true">
        <activity android:name=".admin.AdminHome">

        </activity>
        <activity android:name=".admin.AdminLogin" />
        <activity
            android:name=".EndUsers.HomePage"
            android:label="@string/title_activity_home_page">

        </activity>
        <activity android:name=".EndUsers.SignUP" />
        <activity android:name=".EndUsers.Login" />
        <activity android:name=".EndUsers.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>